<div class="container">
  <h4>How to make ....</h4>
  <p>Description</p>
  <%= form_for[@cocktail, @dose] do |f| %>
  <%= f.input :description, hint: 'Be Create!' %>
  <%= f.button :form, class: "btn btn-light" %>
  <% end %>

</div>
