// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
img.cocktail-card-img  {
  width: 100%;
}

.photo {
  object-fit: cover;
  width: 150px;
  height: 250px;
}

.spirit-specials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.cocktail-name {
  margin: 15px auto;
  text-align: left;
}

.container2 h2 {
  text-align: center;
  margin: 15px auto;
}


